# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
venv/
ENV/
env/
.venv/

# Django
db.sqlite3
*.sqlite3
*.log

# VSCode
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de configuração pessoais
*.env