{% extends "paginasweb/modelos/index.html" %}
{% block header %}
<div class="text-center">
    <h1 class="display-6 fw-bolder mb-4">
        <span class="text-gradient d-inline">Escolha o que deseja visualizar</span>
    </h1>
    <p class="lead">Selecione uma das opções abaixo para visualizar as listagens:</p>
</div>
{% endblock header %}
{% block conteudo %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="d-grid gap-3">
            <a href="{% url 'listar-endereco' %}" class="btn btn-outline-primary btn-lg">Endereços</a>
            <a href="{% url 'listar-empresa' %}" class="btn btn-outline-primary btn-lg">Empresas</a>
            <a href="{% url 'listar-categoria-servico' %}" class="btn btn-outline-primary btn-lg">Categorias de Serviço</a>
            <a href="{% url 'listar-servico' %}" class="btn btn-outline-primary btn-lg">Serviços</a>
            <a href="{% url 'listar-atendente' %}" class="btn btn-outline-primary btn-lg">Atendentes</a>
            <a href="{% url 'listar-cliente' %}" class="btn btn-outline-primary btn-lg">Clientes</a>
            <a href="{% url 'listar-horario-atendimento' %}" class="btn btn-outline-primary btn-lg">Horários de Atendimento</a>
            <a href="{% url 'listar-horario-funcionamento' %}" class="btn btn-outline-primary btn-lg">Horários de Funcionamento</a>
            <a href="{% url 'listar-agendamento' %}" class="btn btn-primary btn-lg">Agendamentos</a>
        </div>
    </div>
</div>
{% endblock conteudo %}
